<app-header></app-header>
<section class="flex items-center w-full">
    <div class="items-center w-full mx-auto max-w-7xl">
        <div class="flex-col items-start m-auto align-middle">
            <div class="grid grid-cols-1 gap-6 lg:grid-cols-2 lg:gap-24">
                <div class="items-center gap-12 m-auto lg:inline-flex md:order-first">
                    <div class="max-w-7xl lg:text-left p-8">
                        <div>
                            <p class="text-4xl font-bold text-gray sm:text-6xl">
                                O ingrediente secreto para sua criatividade.
                            </p>
                            <p class="max-w-xl text-lg mt-4 text-gray">
                                O Gepeto é sua ajudinha para criar histórias e ilustrações, para você viajar ainda mais pelo mundo da imaginação.
                            </p>
                        </div>
                        <div class="flex items-center gap-3 flex-row justify-start py-6">
                            <app-pencil-button buttonRouterLink="/wizard">Criar uma história</app-pencil-button>
                        </div>
                    </div>
                </div>
                <div class="order-first block w-full lg:mt-0">
                    <img class="object-cover object-center w-full lg:mx-auto max-w-xs sm:max-w-md lg:max-w-none lg:ml-auto px-8 md:py-8" alt="" src="assets/artworks/pencil.svg">
                </div>
            </div>
        </div>
    </div>
</section>

