.pencil-stepper {
    scrollbar-color: #D0D8FC #494949;
}
  
.pencil-stepper::-webkit-scrollbar {
    width: 4px;
}

.pencil-stepper::-webkit-scrollbar-track {
    background: #494949;
    border-radius: 9999px;
}
  
.pencil-stepper::-webkit-scrollbar-thumb {
    background-color: #D0D8FC;
    border-radius: 9999px;
    border: 4px solid #494949;
}